body {
	font-family: "Arial", sans-serif; /* Using Arial as the font, but you can replace it with any other font */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2 {
	background-color: rgb(144, 20, 207); /* Dark gray background */
	color: #fff; /* White text */
	padding: 10px 20px;
	border-radius: 5px;
}

form {
	background-color: #f4f4f4; /* White background */
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	border-radius: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}

input[type="text"] {
	width: 100%;
	padding: 8px;
	margin-bottom: 8px;
	border: 1px solid #cccccc; /* Light gray border */
	border-radius: 8px;
}

select {
	width: 50%;
	padding: 8px;
	margin-bottom: 8px;
	border: 1px solid #cccccc;
	border-radius: 8px;
}

input[type="checkbox"] {
	margin-right: 8px;
}

label {
	margin-bottom: 8px;
	display: inline-block;
}

.button {
	background-color: rgb(144, 20, 207); /* Green background */
	border: none; /* No border */
	color: white; /* White text */
	padding: 15px 32px; /* Padding around text */
	text-align: center; /* Centered text */
	text-decoration: none; /* No underline */
	display: inline-block; /* Display as inline-block */
	font-size: 16px; /* Set font size */
	margin: 4px 2px; /* Some margin */
	cursor: pointer; /* Pointer cursor on hover */
	border-radius: 4px; /* Rounded corners */
}

/* Hover effect */
.button:hover {
	background-color: rgba(114, 20, 207, 0.66); /* Darker green on hover */
}
